#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.component {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.userProfileInfo {
    text-align: left;
    margin: 15px 10px;
}

.tasksList {
    text-align: left;
    padding-left: 20px;
}

.shoppingCart {
    text-align: left;
    padding: 0px 10px;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}